<body>
    <div class="container">
        <header>
            <nav>
                <div class="logo">
                    <img src="assets/img/logo.jpeg" alt="logo funcdacion unicornio">
                </div>
                <ul>
                    <li>
                        <a href="encuesta/home_encuesta.html">Encuesta</a>
                    </li>
                    <li>
                        <a href="">Login</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="disclaimer">
                <div class="imagenDisclaimer">
                    <img src="assets/img/portada.jpg" alt="imagen disclaimer">
                </div>
                <div class="description">
                    <h1>Bienvenidos</h1>
                    <p>
                        Gracias por participar de este ejercicio, para obtener mas información sobre como están actualmente enfrentando la discapacidad las instituciones educativas de grado tecnico y profesional en el departamento del atlántico.
                    </p>
                    <div>
                        <a href="encuesta/home_encuesta.html">Encuesta</a>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="cotainerFooter">
                <div class="socialMedia">
                    <a href="/">
                        <span class="icon-facebook2 aFacebook"></span>
                    </a>
                    <a href="/">
                        <span class="icon-instagram aIntagram"></span>
                    </a>
                    <a href="/">
                        <span class="icon-twitter aTwitter"></span>
                    </a>
                </div>
                <div class="datos">
                    <h5>Direccion: xxxx-xxx-xxx | </h5>
                    <h5>Email: xxxx-xxx-xxx |</h5>
                    <h5>Telefono: xxxx-xxx-xxx</h5>
                </div>
            </div>
        </footer>
    </div>
</body>